### Hypothesis Question 2
A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.

Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

### Hypothesis Definition
H0 : There is no difference in the averages of different laboratories. i.e. All means are same.

H1 : There is difference in atleast one of the averages of different laboratories. i.e Atleast one of mean is different.

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [20]:
labtat=pd.read_csv("LabTAT.csv")
labtat.rename(columns={'Laboratory 1':'lab1', 'Laboratory 2':'lab2','Laboratory 3':'lab3','Laboratory 4':'lab4'}, inplace=True)
labtat.head()

     lab1    lab2    lab3    lab4
0  185.35  165.53  176.70  166.13
1  170.49  185.91  198.45  160.79
2  192.77  194.92  201.23  185.18
3  177.33  183.00  199.61  176.42
4  193.41  169.57  204.63  152.60

In [18]:
stats.f_oneway(labtat.lab1, labtat.lab2, labtat.lab3, labtat.lab4)

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

#### Result
p-value is much smaller than alpha(0.05). This implies that we have to reject the null hypothesis. Therefore, we can conclude statistically that there is difference in atleast one of the averages of different laboratories. i.e Atleast one of mean is different.